---
title: GseBase
tagline: Gizinta Sync Engine
layout: default
published: true
---



    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

	  <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>Overview</h3>
        <p>Gizinta Sync Engine builds on the basic <a href="http://github.com/Gizinta/gzTools" target='new'>Gizinta</a> library. The key feature of the Gizinta method is XML configuration files for schema mapping between source and target data models. Gizinta also has 'playlists' - all Gizinta tools have the ability to run one or more datasets at a time, and this makes it possible to update parts or all of a target database by just passing an XML file to the process to be run.</p>
        <p>Sync Engine takes the Gizinta idea further by providing a way to execute playlists, write data to a staging database, and update the target database with change-only updates if all playlists run successfully.</p>
        <p>Implementation projects are built and managed using Github private repositories, and they include most of the content from the gseBase project - with names like gseVT and gseUW.</p>	
		
        <h3>Folders</h3>
		<p>The project is organized into multiple folders. The base location for these files on disk is typically C:\Apps\Gizinta\gseBase or the specific project that you are working on.</p>

<ul>
<!--  {% for page in site.pages %}
  {% if page.title != 'GseBase' %}
    <li><a href="{{ site.url }}/{{ page.url }}">{{ page.title }}</a></li>
  {% endif %}
  {% endfor %}
-->
  <li><a href="{{ site.url }}ETL/index.html">ETL (Extract, Transform and Load) Folder</a> - the ETL folder contains the scripts that run the tools, along with subfolders for different parts of the Sync Engine.</li>
</ul>
        <h3>Key Concepts</h3>
        <p>Sync Engine uses python and Safe Software's FME to automate spatial data update processes. It is a general concept that could be used to automate many processes, with some special features like playlists, built in QA, and change detection that provide a sophisticated way to automate multiple processing steps. The concepts and implementation were developed based on many years building these kinds of solutions. Even though it might look a bit complicated at first, or you could put together something basic with with FME in a few hours, it's the kind of thing after working on this for a few years you might appreciate.</p>
          <p>Currently the emphasis is on Campus Floorplans and Routing sync from CAD-GIS. In this space, the main requirement is to build and incrementally update a seamless 2D and 3D Campus database from source CAD drawings. It's an industrial-strength solution that is capable of handling large volumes of data with minimal support beyond the maintenance of the source drawings. There are several challenges for a solution like this:</p>
        <ul>
          <li>Coordinate transformation from paper space to geographic space</li>
          <li>Build derived data - add the third dimension and additional data required for GIS applications</li>
          <li>Perform change detection and change-only updates to the database</li>
          <li>Support multiple processing steps, and if any of the steps do not pass QA rules or fail for any other reason then skip to the next drawing without posting any of the data from steps along the way</li>
          <li>Provide logging capabilities that support debugging and problem solving for drawings and individual features</li>
        </ul>

        <h3>Authors and Contributors</h3>
        <p><a href="https://github.com/SteveGrise" target='new' class="user-mention">Steve Grise</a> from <a href="https://github.com/Vertex3" target='new' class="user-mention">Vertex3</a> developed <a href="https://github.com/Gizinta/gzTools"  target='new' class="user-mention">Gizinta</a> and the Sync Engine</p>

        <h3>Support or Contact</h3>
		<p>Get in touch with us using the <a href="http://gizinta.com/forums/forum/g/" target='new'>Gizinta forum</a> and the <a href="http://gizinta.com/contact-us/" target='new'>Gizinta Contact</a> form for direct messages.</p>
      </section>
    </div>
