---
title: GseBase
tagline: Gizinta Sync Engine
layout: default
---
<!DOCTYPE html>
<html>


  <body>
    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">

	  <h3><a id="welcome" class="anchor" href="#welcome" aria-hidden="true"><span class="octicon octicon-link"></span></a>Gizinta Sync Engine Base (gseBase) Documentation</h3>
        <p>gseBase contains the common files for the Gizinta Sync Engine Solution, and it is extended for use on specific projects.</p>
        <p>Current implementations include Floorplan solutions for the University of Washington (UW) and Virginia Tech (VT). These projects are defined as Github private repositories, and they include most of the content from the gseBase project - gseVT and gseUW.</p>	
		
        <h3></a>Folders</h3>
		<p>The project is organized into multiple folders. The base location for these files on disk is typically C:\Apps\Gizinta\gseBase or the specific project that you are working on.</p>

<ul>
  {% for page in site.pages %}
  {% if page.title != 'GseBase' %}
    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>
<!--
		<p><a href="ETL/index.html">ETL</a></p>
-->
        <h3></a>Authors and Contributors</h3>
        <p><a href="https://github.com/SteveGrise" target='new' class="user-mention">Steve Grise</a> from <a href="https://github.com/Vertex3" target='new' class="user-mention">Vertex3</a> developed <a href="https://github.com/Gizinta/gzTools"  target='new' class="user-mention">Gizinta</a> and the Sync Engine</p>

        <h3><span class="octicon octicon-link"></span></a>Support or Contact</h3>
		<p>Get in touch with us using the <a href="http://gizinta.com/forums/forum/g/" target='new'>Gizinta forum</a> and the <a href="http://gizinta.com/contact-us/" target='new'>Gizinta Contact</a> form for direct messages.</p>
      </section>
    </div>
  </body>
</html>
<!--<a href="https://github.com/Vertex3/gseBase/issues" target='new' class="user-mention">Github issues</a> for this project,-->
